.venv/
__pycache__/
*.py[cod]
*$py.class
.env
.pytest_cache/
.ruff_cache
.coverage
htmlcov/
*.xlsx
*.csv
.DS_Store
.dockerignore
.github/
output/
logs/
scripts/
dataset_config/
*.vscode
*.code-workspace
data/
